.photo-gallery {
  padding: 10px 15px 50px;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.images-grid img {
  width: 100%;
  transition: 200ms all ease-in-out;
}

.images-grid img:hover {
  filter: grayscale(50%) brightness(50%);
}

@media (min-width: 900px) {
  .photo-gallery {
    max-width: 600px;
    margin: 0 auto;
  }
}
