h3 {
  color: var(--main-colour);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}

.Meaning {
  padding: 10px 15px;
}

.Meaning ol {
  list-style-position: outside;
  padding-left: 2em;
  margin-left: 0;
}

.Meaning ol li {
  margin-bottom: 10px;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.Meaning ol li::marker {
  font-weight: bold;
}

.Meaning strong {
  color: var(--main-colour);
  display: inline;
}

.Meaning .example-text {
  color: var(--greyed-colour);
  list-style: none;
  list-style-position: outside;
  margin-left: -3em;
}

.Meaning .example-text li {
  margin-top: 4px;
  margin-bottom: 10px;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.Meaning .example-text li::before {
  color: var(--greyed-colour);
  content: "~";
  display: inline-block;
  flex-shrink: 0;
  margin-right: 0.3em;
  width: 1.2em;
}

.Meaning .synonyms {
  color: var(--main-colour);
}

.word-heading {
  border-bottom: 1px solid var(--greyed-colour);
  padding: 50px 40px;
}

.part-of-speech {
  padding: 10px 40px;
}
