:root {
  --main-colour: #1d93f3;
  --greyed-colour: #434d65;
  --grey-background: #f2f2f2;
  --dark-text-colour: #000000;
}

body {
  background-color: var(--grey-background);
  color: var(--greyed-colour);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: var(--dark-text-colour);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.container {
  background-color: #fff;
}
